body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar positioning and color/margins/padding */
.navbar {
    position: sticky;
    /* this allows the navbar to remain on top of the webpage even when scrolling down */ 
    top: 0;
    width: 100%;
    background: white;
    padding: 18px 40px;
    gap: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* this is used to add shadow effects to the frame surrounding the text on the navbar */
    z-index: 999;
}

.navbar a {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar a:hover {
    color: #ff66b3;
}

/* Text box on home page */
.box {
    width: 100%;
    height: 550px;
    background-image: url("https://i.pinimg.com/736x/73/93/10/739310f860d20f3a5b012a3eb8ff8251.jpg");
    background-size: cover;
     /* this allows the background image to cover all of the main page rather than just a portion */
    background-position: center;
    position: relative;
}

.box-textbox {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background: rgba(255, 255, 255, 0.6);
    padding: 25px 40px;
    border-radius: 8px;
}

/* Home page text */
.hero-textbox h1 {
    margin: 0;
    font-size: 46px;
    letter-spacing: 2px;
}

/* Home page subtext */
.hero-textbox p {
    margin: 10px 0 0;
    font-size: 22px;
}

/* About us */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.about-text {
    width: 55%;
}

.about-text h1 {
    color: #ff4fa3;
    font-size: 40px;
}

.about-text h2 {
    font-size: 26px;
    margin-top: 10px;
}

.about-text p {
    line-height: 1.5;
}

.about-img {
    width: 40%;
    border-radius: 10px;
}

/* What we serve page */
.serve-section {
    padding: 50px 30px;
    background: #fffbe6;
    text-align: center;
}

.serve-grid {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.serve-item {
    width: 260px;
}

.serve-item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.serve-description {
    background: white;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    min-height: 120px;
}

/* Other page */
.other-container {
    background: #ffd6e8;
    padding: 50px;
    text-align: center;
}

.other-title {
    color: #ff4fa3;
    font-size: 40px;
}

.other-subbox {
    background: white;
    padding: 25px;
    margin: 20px auto;
    width: 60%;
    border-radius: 12px;
}

.other-images {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.other-images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}
